@use "../../../variables" as *;

.main-container{
	min-height: calc(var(--vh, 1vh) * 100);

	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 100px auto 100px;
	gap: 1rem;
	@media(max-width: $large-phone){
		grid-template-areas:
			"sidebar header header"
			"sidebar content content"
			"footer footer footer"
		;
	}

	background-color: $background;
	color: $font;
	
	.sidebar{
		grid-area: sidebar;
		background-color: $foreground;
		border-bottom-right-radius: $radius;
		padding-top: 1rem;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		img{
			width: 90%;
		}
		.categories{
			margin: 0 10px;
		}
	}
	.header{
		grid-area: header;
		background-color: $foreground;
		border-bottom-left-radius: $radius;
	}
	.content{
		grid-area: content;
		background-color: $foreground;
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
	.footer{
		grid-area: footer;
		background-color: $foreground;
	}
	
}